/* GameBuilding Stylesheet */
*{
    margin: 0;
    padding: 0;
    text-align: center;
}
#heading{
    color: white;
    background-color: #081b31;
    height: 5rem;  
    line-height: 5rem; 
}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}
.choice:hover{
    /* opacity: 60%; */
    background-color: #081b31;
}
img{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    align-items: center;
}
#comScore , #userScore{
    font-size: 4rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 1rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.extra{
    background-color: #076868;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
}
.userWin{
    font-size: 40px;
}



